# Node
node_modules/
dist/
.build/

# Serverless & DynamoDB Local
.serverless/
.dynamodb/
*.db

# Environment & Secrets
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

scripts/
assets/

src/scripts/

